.aboutme_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme_title {
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%;
}

@media (max-width: 426px) {
    .about_container {
        
    }
}

.about_container {
    display: flex;
    width: 744px;
    height: auto;
    padding: 44px 44px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFFFFF;
    margin-bottom: 5.5rem;
}

/* Responsividad para tablets */
@media (max-width: 768px) {
    .about_container {
        width: 90%; /* Se adapta al ancho de la pantalla */
        padding: 32px;
        margin-bottom: 3rem;
    }
}

/* Responsividad para móviles */
@media (max-width: 480px) {
    .about_container {
        width: 100%; /* Toma el 100% del ancho del contenedor */
        padding: 20px;
        gap: 0.25rem; /* Reduce el espacio entre elementos */
    }
}

.aboutme_h2 {
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%;
}