

.contact_section {
    margin: 3.5rem;
}

.contact_container {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 744px;
    text-align: center;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.title_contact {
    color: #001858;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.greyText {
    color: rgba(0, 0, 0, 0.5); /* Color gris para "¿Tienes una idea?" */
}

.blueText {
    color: #001858; /* Color azul para "Háblalo con nosotros" */
}

.inputGroup {
    width: 100%;
    margin-bottom: 15px;
}

.inputGroup label {
    display: block;
    text-align: left;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.50);
    font-weight: 600;
    margin-bottom: 5px;
}

.inputGroup small.error-message {
    color: red;
    font-size: 12px; /* Tamaño del texto de error */
    display: block; /* Coloca el texto en una nueva línea */
    margin-top: 5px;
}

input, textarea {
    width: 100%; /* Cambiar a un ancho relativo */
    max-width: 606px; /* Mantener un ancho máximo en pantallas grandes */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    box-sizing: border-box; /* Incluir padding y bordes dentro del ancho */
}

textarea {
    height: 100px;
}

.submitButton {
    background: #F582AE;
    color: #FFF;
    padding: 19px 80px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    cursor: pointer;
    border: none;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
}

.submitButton:hover {
    background-color: #f400a1;
}

.sociallinks_container {
    display: flex;
    justify-content: center;
}

/* Responsividad para tablets */
@media (max-width: 768px) {
    .title_contact {
        font-size: 28px;
    }

    .contact_container {
        padding: 15px;
    }

    input, textarea {
        max-width: 100%; /* Eliminar límite fijo en pantallas más pequeñas */
    }

    .submitButton {
        padding: 15px 40px; /* Reducir el tamaño del botón */
    }
}

/* Responsividad para móviles */
@media (max-width: 480px) {
    .title_contact {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .subtitle {
        font-size: 14px;
    }

    .contact_container {
        padding: 10px;
    }

    input, textarea {
        width: 100%;
        padding: 8px; /* Reducir padding interno */
    }

    .submitButton {
        padding: 10px 20px;
        font-size: 14px;
    }
}
