body {
    font-family: "Montserrat", sans-serif;
        background: #FAFAFA;
        color: #000000;
    }


.main-content {
    display: flex;
    align-items: center;
    width: 1140px;
    height: 630px;
    margin: 0 auto;
    padding: 50px;
}

.btn-hero{
    background-color: #6400E6;
    color: #FFFFFF;
    width: 200px;
    height: 44px;
    border-radius: 8px;
    font-size: 16px;
}

.btn-default {
    background-color: inherit;
}

.text-content {
    flex: 1;
}

.image-placeholder {
    flex: 1;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.image-placeholder img {
    height: 350px;
    width: auto;
}

.hero-div h1 {
    color: white;
    font-size: 36px;
    margin: auto;
    padding-bottom: 30px;
}

.hero-div p {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: large;
}

.header-projects h2 {
        text-align: center;
}

.buttons-project {
    text-align: center;
}

.btn-projects {
    width: 180px;
    height: 39px;
    border-radius: 40px;
    margin-left: 10px;
    padding: 10px 16px;
    border-color: #ffffff;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.services h2 {
        text-align: center;
}

.contact {
    text-align: center;
}

.footer {
    text-align: center;
}