@mixin flexbox ($justify, $alingn) {
    display: flex;
    justify-content: $justify;
    align-items: $alingn;
}

@mixin dropdown {
    opacity: 0;
    width: 180px;
    position: absolute;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    transition: ease all 0.3s;
}


@mixin btn-cta {
        height: 51px;
        width: 115px;
        border-radius: 8px;
        background-color: rgb(100, 0, 230);
        color: $text-color;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        padding: 16px 10px;
        border: none;
}


@mixin btn-filter-projects  {
    height: 39px;
    border-radius: 40px;
    margin-left: 10px;
    padding: 10px 16px;
    border-color: #ffffff;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}